<div class="container px-4 px-lg-5 ">
<form class="row g-3 needs-validation mt-5 mb-5 " novalidate>
    <div class="col-md-4 ">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input type="text" class="form-control border border-2 border-dark" id="validationCustom01" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Apellido</label>
      <input type="text" class="form-control border border-2 border-dark" id="validationCustom02" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Email</label>
      <div class="input-group has-validation">
        
        <input type="text" class="form-control border border-2 border-dark" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">Contraseña</label>
      <input type="text" class="form-control border border-2 border-dark" id="validationCustom03" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label ">Confirme Contraseña</label>
      <select class="form-control border border-2 border-dark" id="validationCustom04" required>
       
      
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input  border border-2 border-dark " type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Acepta los terminos y condiciones
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-success border border-2 border-dark" type="submit">Registrarse</button>
    </div>
  </form>
</div>
