
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
   <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://c8.alamy.com/compes/2eg9hxn/poznan-pol-5-de-noviembre-de-2020-botellas-de-diversas-marcas-mundiales-de-licor-fuerte-incluyendo-whisky-vodka-tequila-y-ginebra-2eg9hxn.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://image.shutterstock.com/image-photo/poznan-pol-nov-5-2020-260nw-1899194743.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c8.alamy.com/compes/2eg9hfd/poznan-pol-5-de-noviembre-de-2020-botellas-de-diversas-marcas-mundiales-de-licor-fuerte-incluyendo-whisky-vodka-tequila-y-ginebra-2eg9hfd.jpg" class="d-block w-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  
  
  