
<div class="container px-4 px-lg-5 mt-3 text-center">
 <h2>PRODUCTOS</h2>
  </div>




<div class="container px-4 px-lg-5 mt-3">
  <div class="row">
    <div class="col-12">
      
    <table class="table table-dark">
     <button type="button" class="btn btn-success center-block  px-4 px-lg-5 mt-3 " >Nuevo Producto</button> 
      </table>

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio}}</td>
            <td><a class="btn btn-success">Editar</a></td>
            <td><a (click)="deleteProducto(producto.id)" class="btn btn-danger">Borrar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>