
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container px-4 px-lg-5 ">
        <a class="navbar-brand fw-bolder fs-4" [routerLink]="['inicio']">Es-Ka-Bio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
                <li class="nav-item"><a class="nav-link " aria-current="page" [routerLink]="['inicio']" *ngIf="!isAdmin">Inicio</a></li>
                <li class="nav-item"><a class="nav-link " [routerLink]="['quienes-somos']" *ngIf="!isAdmin">Quienes Somos</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['registro']" *ngIf="!isAdmin">Registro</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['admin-producto']" *ngIf="isAdmin">Administrar Productos</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['admin-user']" *ngIf="isAdmin">Administrar Usuarios</a></li>
            </ul>
            
                <button class="btn btn-outline-success border border-2 border-success m-sm-1 " type="button" *ngIf="!isLoggedIn" [routerLink]="['inicio-sesion']">   
                    Iniciar Sesion
                </button> 
                <div *ngIf="isLoggedIn"><span class="fs-6 text-muted">Usuario: {{username}}</span></div>
                <button type="button" class="btn btn-outline-secondary border border-2 border-secondary m-sm-1" *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</button>
                <button class="btn btn-outline-success border border-2 border-success m-sm-1 " [routerLink]="['carrito']" *ngIf="!isAdmin">
                    <i class="bi-cart-fill me-1"></i>
                    Carrito
                    <span class="badge bg-success text-white ms-1 rounded-pill">0</span>
                </button>
                
                
            
        </div>
    </div>
</nav>
