<div class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Los Mejores Productos Los Encontras Aca </h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuDdO8BSaX5X6H3XQER-Tm6klCUrhFtP97sw&usqp=CAU"  width="800" height="600"    alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" [src]="imgurl"  width="800" height="600" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNZv2toKV2Se5kXZI2EAIIgCrHNYFjSdMTuGXJYRIV3LEhmVYxHxbM2nqRHxN94V3H2LI&usqp=CAU"  width="800" height="600"alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://cdn.shopify.com/s/files/1/0482/4458/8702/products/fernet-branca-750ml-ml-fratelli-botella-bebidas-01almacen-D_NQ_NP_854593-MLA31337980834_072019-F_e96094f2-2679-4c71-9f11-19a8d3208463.png?v=1635344772" width="800" height="600" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS_yxGTwhhln1xAO3CzYfltyjeRTptsKUsFw&usqp=CAU" width="800" height="600" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" [src]="imgurl" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://www.absolut.com/contentassets/416c6ea1f465487d8e44a32e9bae2103/absolut_products.jpg" alt="">
            </a>
      </div>
      
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" [src]="imgurl" alt="">
            </a>
      </div>
      
            
      
   
      
    </div>
  
  </div>
  <div class="container">

  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Combo del dia </p>
              
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNZv2toKV2Se5kXZI2EAIIgCrHNYFjSdMTuGXJYRIV3LEhmVYxHxbM2nqRHxN94V3H2LI&usqp=CAU"
              class="card-img-top" alt="bebida" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Licores  Alta Gama</a></p>
               
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">Combo licores Alta Gama</h5>
                <h5 class="text-dark mb-0">$2000</h5>
              </div>
              <div class="button">
                <button> comprar</button>
              </div>
  
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                <div class="ms-auto text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
            
              <div class="d-flex justify-content-between p-2">
                <p class="lead mb-0">Licor GlenGoyne</p>
                
              </div>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuDdO8BSaX5X6H3XQER-Tm6klCUrhFtP97sw&usqp=CAU"
              class="card-img-top" alt="Laptop" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Licores Alta Gama</a></p>
             
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">GlenGoyne</h5>
                <h5 class="text-dark mb-0">$1099</h5>
              </div>
                <div class="button">
                  <button> comprar</button>
                </div>
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">7</span></p>
                <div class="ms-auto text-warning">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Combo N°2</p>
              
            </div>
            <img [src]="imgurl"
              class="card-img-top" alt="Gaming Laptop" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Gaseosas</a></p>
              
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">Combo Coca Cola</h5>
                <h5 class="text-dark mb-0"></h5>
              </div>
              <div class="button">
                <button> comprar</button>
              </div>
  
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Disponible<span class="fw-bold">5</span></p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
</div>





