<div class="container px-4 px-lg-5 mt-3 text-center">
    <h2>USUARIOS</h2>
     </div>
   
   
   
   
   <div class="container px-4 px-lg-5 mt-3">
     <div class="row">
       <div class="col-12">
         
       
         <table class="table table-dark ">
           <thead>
             <tr>
               <th scope="col">Id</th>
               <th scope="col">Nombre</th>
               <th scope="col">Sexo</th>
               <th scope="col">DNI</th>
               <th scope="col">Administrar</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>Juan Perez</td>
               <td>M</td>
               <td>2846234</td>
               <td>
                 
               
               <button type="button" class="btn btn-danger">Eliminar</button>

               
                <label class="btn btn-secondary active">
                  <input type="checkbox" checked autocomplete="off"> Admin
                </label>
            

               </td>
             </tr>
             <tr>
               <th scope="row">2</th>
               <td>Rosa Meltroso</td>
               <td>F</td>
               <td>3417345</td>
               <td>
              
              
              
               
               <button type="button" class="btn btn-danger">Eliminar</button>

               <label class="btn btn-secondary active">
                <input type="checkbox" checked autocomplete="off"> Admin
              </label>

               </td>
             </tr>
             <tr>
               <th scope="row" >3</th>
               <td>Esteban  kito</td>
               <td>M</td>
               <td>1234453</td>
               <td>
                
          
               <button type="button" class="btn btn-danger" >Eliminar</button>

               <label class="btn btn-secondary active">
                <input type="checkbox" checked autocomplete="off"> Admin
              </label>

               </td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </div>